Django

asgiref==3.8.1
beautifulsoup4==4.13.4
crispy-bootstrap5==2025.6
Django==5.2.3
django-allauth==65.9.0
django-crispy-forms==2.4
gunicorn==21.2.0
pillow==11.2.1
psycopg2-binary==2.9.9
python-dotenv==1.1.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
whitenoise==6.9.0
dj-database-url==2.1.0
weasyprint==65.1
